
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/myscript.js"></script>
<link rel="stylesheet" href="scripts/mystyle.css" />

</head>
<body>
<div class="myheader">India Bix Filter</div>

<div class="inputxml"><div class="sectiontitle"> Please put the site link here:-</div>
<textarea id="inputtext" overflow: scroll; rows="2" cols="104"> </textarea>
</div>

<div class="clearfix commondiv">
<input  class="actionbuttons" id= "submitbutton" type="button" value="Extract and Show" onclick="extractFunction();"/>
<input class="actionbuttons"   id= "resetbutton" type="button" value="Reset" onclick="reloadPage();"/>
</div>


<div id="footer">Developed by Ashish Mishra &copy 2017</div>
</body>
</html>
